* {
  font-family: 'Ubuntu', sans-serif;
  background: #ffffff;
  overflow-x: hidden;
  color: #000000;
}

.h2 {
  position:relative;
  left:5%;
}

.h3 {
  position:relative;
  left:10%;
}

ul {
  left-margin:1rem;
}
